.container-Weather{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

table {
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
}

th,td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font: normal 16px/normal "Times New Roman", Times, serif;
}

th {
    font-weight: bold;
    color: rgba(0,142,198,1);
}

tr:hover {
    background-color: #f5f5f5
}

tr td:first-child{
    font-weight: bold;
    text-align: left;
}